<table>
    <thead>
        <tr>
            <th style="max-width: 8rem;"></th>
            <td>Frühstück</td>
            <td>Mittag</td>
            <td>Abend</td>
        </tr>
        
    </thead>
    <tbody cdkDropListGroup>
        <tr *ngFor="let day of weekdays">
            <th class="plan-day-header" style="max-width: 8rem;">
                <h2>{{day.name}}</h2>
                <p>{{day.date | date : "dd.MM.yy"}}</p>
            </th>
            <td>
                <app-day-meal-cell #cmp0 [curDay]="day" [curType]="getMealType(0)"></app-day-meal-cell>
            </td>
            <td>
                <app-day-meal-cell #cmp1 [curDay]="day" [curType]="getMealType(1)"></app-day-meal-cell>
            </td>
            <td>
                <app-day-meal-cell #cmp2 [curDay]="day" [curType]="getMealType(2)"></app-day-meal-cell>
            </td>
        </tr>
    </tbody>
    
</table>
